body{
    font-family: serif;
}
.header{
    margin-top: 20px;
}
.logo img{
    max-height: 50px;
}
.big-banner{
    background-image: url('../img/big-banner-1.png');
    min-height: 444px;
    display: flex;
    flex-direction: column;
}
.main-nav-menu{
    margin: 10px 5px;
}
.main-nav-menu a{
    color: white;
    text-decoration: none;
    padding-left: 9px;
}
.main-nav-menu a:hover{
    color: #fa8507;
    transition: 0.7s;

}
.phone-block button{
    background-color: rgb(247, 142, 5);
    color: white;
    border-radius: 5px;
    padding: 7px 21px;
    font-size: 11px;
    font-weight: 700;
    border: 0;
}
.phone-block button:hover{
    color: black;
    transition: 1s;
}
.phone-block {
    color: white;
    text-decoration: none;
}
.phone-block a{
    color: white;
    text-decoration: none;
}
.phone-block a:hover{
    color: #fa8507;
}
.button-call-header{
    text-align: center;
}
.text-banner{
        color: white;
        text-align: center;
        margin-top: 3rem;
}
.text-banner button{
    background-color: rgb(247, 142, 5);
    color: white;
    padding: 5px 17px;
    font-size: 11px;
    font-weight: 700;
    border: 0;
    border-radius: 3px;
}
.text-banner button:hover{
    color: #fa8507;
    background-color: #fff;
    transition: 1s;
}
.text-banner p:first-child{
    font-family: cursive;
    font-size: 1.2rem;
}
.text-banner h2{
    font-size: 3rem;
}
.about .about-bg img{
    max-width: 100%;
}
.about h4{
    font-family: cursive;
}
.about h4 span{
    color: #fa8507;
}
.about p{
    font-size: 16px;
    font-weight: 400;
    color: #777777;
}
.about{
    margin-top: 30px;
}
.button-call-header {
    text-align: left;
}